# Make and debug files
build/
.cache/
*.log
*.o
*.gch
vgcore.*

# Editor files
.idea/
.clangd
*.json
*.qss

# External resources
sounds/
resources/
assets/
tests/
include/unused

*.png
*.txt
*.xcf
*.webm
*.gif
